@model IEnumerable<Lighten.Models.YourProducts>

@{ ViewData["Title"] = "Home"; }
@{ Layout = "_Layout"; }
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LightModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.LightModel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LightCompany)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LightType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
</tr>
}
    </tbody>
</table>
