@model Lighten.Models.Products

@{ ViewData["LightCompany"] = "Detail of Order Medicine"; }
@{ Layout = "_Layout"; }
<br />
<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LightModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LightModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LightCompany)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LightCompany)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LightType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LightType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-warning">Edit</a>
    <a asp-action="Index" type="button" class="btn btn-warning">Back to List</a>
</div>
